# Core Data Science & Computer Vision
numpy<2.0
scipy<1.13.0
opencv-python
pandas
matplotlib
seaborn
scikit-learn
h5py

# Deep Learning & Tracking (YOLO / ByteTrack)
inference[gpu]<=1.1.0
supervision
roboflow
motmetrics

# Utilities & Jupyter
pillow<11.0
tqdm
ipywidgets